.App {
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1em;

  color: white;
}

.App-link {
  color: #61dafb;
}
